In [1]:
import pandas as pd
import numpy as np
import os
import csv
df = pd.read_csv("02-Homework_03-Python_Instructions_PyPoll_Resources_election_data.csv")

In [2]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
numvotes=len(df)

print('Total Votes:' + ' ' + str(numvotes))

Total Votes: 3521001

In [4]:
candi=df["Candidate"].value_counts()

In [5]:
Table=candi/((numvotes))

In [6]:
Percentage=(Table)
print(Percentage)

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [7]:
# Array of all candidates
candidates = df["Candidate"].unique()
print(candidates)

NewDF = pd.DataFrame(Percentage)
NewDF

['Khan' 'Correy' 'Li' "O'Tooley"]

          Candidate
Khan           0.63
Correy         0.20
Li             0.14
O'Tooley       0.03

In [8]:
#candidate_votes = [df["Candidate"].unique()]
candidate_votes=[]
#looped through the candidates to add their total votes in the list "candidate_votes"
for i in range(len(candidates)):
    candidate_votes.append(len(df[df["Candidate"] == str(candidates[i])]))
    
print(candidate_votes)
# sum the final col of that table, and subtract the number of culprits:
#dups['Khan'].sum() - dups.shape[0]

[2218231, 704200, 492940, 105630]

In [9]:
candidate_dict = dict(zip(candidates, Table))
print(candidate_dict['Khan'])

0.6300001050837531

In [10]:
def get_max_val_key(candidate_dict):
    max_value = None
    for key in candidate_dict:
        if max_value is None or max_value < candidate_dict[key]:
            max_value = candidate_dict[key]
            max_key = key
    return max_key

winner = get_max_val_key(candidate_dict)
print(winner)

Khan

In [11]:
print("Election Results")
print(("-")*25)
print('Total Votes:' + ' ' + str(numvotes))
print(("-")*25)
i = 0
for i in range(4):
    a = NewDF['Candidate'].iloc[i]
    print(candidates[i], round(a,3)*100, '%', candidate_votes[i])
    
    
    
for key in candidate_dict:
    #print(key, candidate_dict[key]+"% ("+str(candidate_votes[i])+")")
    i = i+1
print(("-")*25)
print('Winner:'+ ''+ winner)

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan 63.0 % 2218231
Correy 20.0 % 704200
Li 14.000000000000002 % 492940
O'Tooley 3.0 % 105630
-------------------------
Winner:Khan